{% extends "base.html" %}

{% block content %}
<div class="row">
{% for truck in trucks %}
<div class="col-4">
    <div class="card h-100" style="width: 18rem;">
        <img src="{{url_for('static', filename=truck.image_path)}}" class="card-img-top">
        <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{truck.name}}</h5>
        <p class="card-text">{{truck.description[0:50]}}...</p>
        <a href="{{ url_for('truckapp.truck_detail_view', id=truck.id) }}" class="btn btn-primary mt-auto">Подробнее</a>
        <a href="{{ url_for('userapp.user_detail_view', id=truck.driver.id) }}" class="link-primary">К водителю</a>
        </div>
    </div>
</div>  
{% endfor %}
</div>
{% endblock content %}