{% extends "base.html" %}
{% from "macro/pretty_field.html" import pretty_field %}

{% block content %}
<h5 class="card-title mt-2">Авторизация</h5>
<div class="box">
    {% if current_user.is_authenticated %}
    <a class="btn btn-primary mt-2" href="{{ url_for('authapp.logout_view') }}">Войти под другим пользователем</a>
    {% else %}
    <form method="POST" action="">
        {{ form.csrf_token() }}
        {% for field in form %}
        {{ pretty_field(field) }}
        {% endfor %}
        <button class="btn btn-primary mt-2">Войти</button>
    </form>
    {% endif %}
</div>
{% endblock content %}